<!--AEROWORKS-->
<module type="view" id="pose_plot">
    <meta>
        <name>Pose plot</name>
        <author>Robin Hoogervorst</author>
        <description>
            Wrapper for RQT plot with a pose
        </description>
    </meta>

    <!-- The in- and outputs of the module as a whole. They are linked to specific executables within the module -->
    <inputs>
        <input type="ros_topic" name="pose_input" link="rqt_plot/pose_input" message_type="geometry_msgs/Pose" required="true" />
    </inputs>

    <executable id="pose_plotter" pkg="rqt_plot" exec="rqt_plot">
        <inputs>
            <input type="ros_topic" name="pose_input" message_type="geometry_msgs/Pose" required="true" />
        </inputs>
    </executable>
    
</module>