<!-- AEROWORKS -->

<!-- this module enables ros rqt graph in VIKI -->

<module type="middlewar" id="rqt_graph">
	<meta>
		<name>ROS rqt graph (rqt_graph)</name>
		<description>The ros default rqt graph, shows running nodes, topics and services</description>
		<author>Alex Kamphuis (ros.org)</author>
	</meta>

	<executable id="rqt_graph" pkg="rqt_graph" exec="rqt_graph">
	</executable>

</module>